<ul>
    <li><strong>{{ movil.nombre }}</strong></li>
    <li><strong>Capacidad</strong>: {{ movil.capacidad }}</li>
    <li><strong>Ram</strong>: {{ movil.ram }}</li>
    <li><strong>Precio</strong>: {{ movil.precio }}</li>
    {% if movil.marca %}
    <li><strong>Marca: </strong>{{ movil.marca.nombre}}</li>
    {% endif %}
</ul>